<head>
  <title>GetOutOf.NYC</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" type="image/png" <%= image_path('favicon-32x32.png') %> sizes="32x32">
  <link rel="icon" type="image/png" <%= image_path('favicon-16x16.png') %> sizes="16x16">
  <link rel="apple-touch-icon" sizes="180x180" <%= image_path('apple-touch-icon.png') %> >
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" <%= image_path('safari-pinned-tab.svg') %> color="#5b8cd5">
  <meta name="theme-color" content="#ffffff">
  <style>
    .background-image {
      background-image: url(<%= "https://s3-us-west-1.amazonaws.com/housechief-assets/#{@trip.code.downcase || 'cun'}.jpg" %>);
      /*background-image: "https://s3-us-west-1.amazonaws.com/housechief-assets/#{@trip.code.downcase || 'cun'}.jpg" %>;*/
      background-size: cover;
    }
  </style>
</head>
<body class="<%= 'background-image' if @trip %>">
  <%= yield %>
</body>