<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @trip.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @trip.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @trip.price %>
</p>

<p>
  <strong>Depart at:</strong>
  <%= @trip.depart_at %>
</p>

<p>
  <strong>Return at:</strong>
  <%= @trip.return_at %>
</p>

<p>
  <strong>Url:</strong>
  <%= @trip.url %>
</p>

<p>
  <strong>Featured:</strong>
  <%= @trip.featured %>
</p>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
