<style type="text/css">
  .row {
    padding-top: 10px;
  }
  .body {
    padding-left: 20px;
    padding-top: 5px;
    font-family: monospace;
  }
  .refresh {
    margin-bottom: 20px;
  }
  .flightsTable {
    border-collapse: collapse;
    color: #000;
    font-size: 18px;
    text-align: left;
    width: 1000px;
  }
  .flightsTable th {
    background-color: #BDB76B;
    color: white;
  }
  .trueRow {
    background-color: #FFFFE0;
  }
  .falseRow {
    background-color: #FFF;
  }
  .featuredRow {
    background-color: #10c4b5;
  }
  .flightsTable td, .flightsTable th {
    padding: 10px;
    border: 0;
  }
  .flightsTable td {
    border-bottom: 1px dotted #BDB76B;
  }
</style>

<%
    DESTINATION_NAMES = {
      stt: 'Saint Thomas',
      cun: 'Tulum',
      pos: 'Port of Spain'
    }
%>

<div class="body">
  <h1>Flights Dashboard</h1>

  <div class="refresh">
    <button>Refresh flights</button><span> | <a href="/">see home page >></a></span>
  </div>

  <table class="flightsTable">
    <tr>
      <th style="width: 15%;">Select</th>
      <th style="width: 35%;">Destination</th>
      <th style="width: 15%;">Price</th>
      <th style="width: 20%;">Weekend</th>
      <th style="width: 15%;">URL</th>
    </tr>
    <% @trips.each_with_index do |trip, index| %>
      <%
          departure_date = "#{trip.departure.strftime('%B').downcase} #{trip.departure.strftime('%e').downcase}"
          return_date = trip.return.strftime('%e')
          return_date.prepend("#{trip.return.strftime('%B').downcase} ") if trip.return.strftime('%B') != trip.departure.strftime('%B')
      %>
      <tr class="<%= trip.featured? ? 'featuredRow' : "#{index.odd?}Row" %>">
        <td>
          <% if trip.featured? %>
            <b>Featured</b>
          <% else %>
            <form method="POST" action="/select_trip" style="margin-bottom: 0;">
              <input type="hidden" name="id" value="<%= trip.id %>">
              <button type="submit">Select</button>
            </form>
          <% end %>
        </td>
        <td><%= DESTINATION_NAMES[trip.destination_code.downcase.to_sym] %></td>
        <td><%= "$#{sprintf("%.0f", trip.price)}" %></td>
        <td><%= departure_date %>-<%= return_date %></td>
        <td><a href="<%= trip.url %>" target="_blank">Link</a></td>
      </tr>
    <% end %>
  </table>
</div>

<!--

  # View

  [[ refresh data ]]

t = Trip.new(destination_code: 'CUN', departure: 15.days.from_now, return: 18.days.from_now, price: '420.27', url: 'http://example.com', featured: false)

  Destination    Code            Departure       Return          Price     Selected
  ===========    =============   =============   =============   =======   =========
  Bahamas        STT             Nov 4           Nov 4           $260      true
  Turks          POS             Oct 14          Oct 14          $325      false
  St. Thomas     CUN             Nov 10          Nov 10          $410      false


    #destination
    def lowest_price
      self.prices.order(price DESC).first
    end

  # Destinations Table
  ## has_many prices

  id  destination   bg_img    sm_img    selected


  # Prices Table
  ## belongs_to destination

  depart  return  destination_id  price



  # 6 weeks x iterations
    Thurs - Sun,
    Fri - Mon

  trips = [
    { depart: '', return: '' },
    { depart: '', return: '' },
    { depart: '', return: '' },
    { depart: '', return: '' },
    { depart: '', return: '' },
    { depart: '', return: '' }
  ]
 -->
