<a href="<%= @featured_trip.url %>" target="_blank">
  <div>
    <span>
      <%= @destination.downcase %>
    </span>
  </div>
  <div style="margin-top: 5px;">
    <span>
      <%= "84&deg;F" %>
    </span>
  </div>
  <div style="margin-top: 5px;">
    <span>
      <%= @price %>
    </span>
    <span>
      <%= @departure_date %>-<%= @return_date %>
    </span>
  </div>
</a>
