<style>
  a, a:link, a:visited {
    text-decoration: none;
    color: #4f4f4f;
  }
</style>

<a href="<%= @featured_trip.url %>" target="_blank">
  <div>
    <span class="detail">
      <%= @destination.downcase %> <%= "78&deg;F" %>
    </span>
  </div>
  <div style="margin-top: 5px;">
    <span class="detail">
      <%= @price %>
    </span>
    <span class="detail">
      <%= @departure_date %>-<%= @return_date %>
    </span>
  </div>
</a>
