<a href="<%= @trip.url %>" target="_blank">
  <div class="line">
    <span><%= @trip.name.downcase %>&nbsp;<%= @trip.temperature %>&deg;F</span>
  </div>
  <div class="line" style="letter-spacing: 1px;">
    <span>trinidad and tobago</span>
  </div>
  <div class="line">
    <span>
      <%= @price %>
      <%= @dates %>
    </span>
  </div>
</a>
