<a href="<%= @trip.url %>" target="_blank">
  <div>
    <%= @trip.name %> <span>82&deg;F</span>
  </div>
  <div style="margin-top: 2px;">
    trinidad and tobago
  </div>
  <div style="margin-top: 2px;">
    <%= @price %>
    <%= @departure_date %>-<%= @return_date %>
  </div>
</a>
