<a href="<%= @featured_trip.url %>" target="_blank">
  <div>
    <%= @destination %> <%= "82&deg;F" %>
  </div>
  <div style="margin-top: 2px;">
    trinidad and tobago
  </div>
  <div style="margin-top: 2px;">
    <%= @price %>
    <%= @departure_date %>-<%= @return_date %>
  </div>
</a>
