<a href="<%= @trip.url %>" target="_blank">
  <div class="line">
    <span>
      <%= @trip.name.downcase %>
    </span>
  </div>
  <div class="line" style="margin-top: 5px;">
    <span><%= @trip.temperature %>&deg;F</span>
  </div>
  <div class="line" style="margin-top: 5px;">
    <span>
      <%= @price %>
    </span>
    <span>
      <%= @dates %>
    </span>
  </div>
</a>
