<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111468767-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111468767-1');
    </script>
    <title>GetOutOf.NYC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" href="https://s3-us-west-1.amazonaws.com/housechief-assets/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://s3-us-west-1.amazonaws.com/housechief-assets/favicon-16x16.png" sizes="16x16">
    <link rel="apple-touch-icon" sizes="180x180" href="https://s3-us-west-1.amazonaws.com/housechief-assets/apple-touch-icon.png">
    <link rel="mask-icon" href="https://s3-us-west-1.amazonaws.com/housechief-assets/safari-pinned-tab.svg" color="#5b8cd5">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style>
      <% if action_name != 'about' %>
        .background-image {
          background-image: url("https://d3v269glur4zll.cloudfront.net/<%= @trip.try(:code).try(:downcase) %>.jpg");
          background-repeat: no-repeat;
          background-position: center center;
          background-attachment:fixed;

          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }
      <% end %>
    </style>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= 'background-image' if @trip.present? && action_name != 'about' %>">
    <div id="spinner"></div>
    <div id="bg">
      <%= yield %>
    </div>
  </body>
</html>
